{% load bootstrap_icons %}

<footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="mailto:dev.matheus.dr@gmail.com" target="_blank"
               role="button"
            >{% bs_icon 'google' %}</a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/o.dantas74/"
               target="_blank" role="button"
            >{% bs_icon 'instagram' %}</a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://linkedin.com/in/matheus-dr"
               target="_blank"
               role="button"
            >{% bs_icon 'linkedin' %}</a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/matheus-dr" role="button"
               target="_blank"
            >{% bs_icon 'github' %}</a>
        </section>
    </div>
    <div class="text-center p-3">
        © {% now 'Y' %} Copyright:
        <a class="text-white" href="https://matheus-dr.com">matheus-dr.com</a>
    </div>
</footer>
