{% load bootstrap_icons %}
{% load static %}

<nav class="navbar navbar-expand-lg fixed-top bg-primary-color" id="navbar">
    <div class="container py-3">
        <a class="navbar-brand primary-color" href="{% url 'home' %}">
            <img src="https://avatars.githubusercontent.com/u/81092363?v=4" alt="matheus-dr">
            <span>matheus-dr</span>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-items"
                aria-controls="navbar-items"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            {% bs_icon 'list' %}
        </button>
        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% url 'home' as home_url %}
                <li class="nav-item">
                    <a
                            href="{{ home_url }}"
                            class="nav-link primary-color {% if request.path == home_url %}active{% endif %}"
                            {% if request.path == home_url %}aria-current="page"{% endif %}
                    >Home</a>
                </li>

                {% url 'about-me' as about_me_url %}
                <li class="nav-item">
                    <a
                            href="{{ about_me_url }}"
                            class="nav-link primary-color {% if request.path == about_me_url %}active{% endif %}"
                            {% if request.path == about_me_url %}aria-current="page"{% endif %}
                    >Sobre Mim</a>
                </li>

                {% url 'portfolio' as portfolio_url %}
                <li class="nav-item">
                    <a
                            href="{{ portfolio_url }}"
                            class="nav-link primary-color {% if request.path == portfolio_url %}active{% endif %}"
                            {% if request.path == portfolio_url %}aria-current="page"{% endif %}
                    >Projetos</a>
                </li>

                <li class="nav-item">
                    <a
                            href="{% url 'index-blog' %}"
                            class="nav-link primary-color {% if '/blog/' in request.path %}active{% endif %}"
                            {% if '/blog/' in request.path %}aria-current="page"{% endif %}
                    >Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
