{% load bootstrap_icons %}

<div class="col-12 col-md-10 offset-md-1" id="mini-banners">
    {% url 'portfolio' as portfolio_url %}
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card text-center align-items-center justify-content-center">
                {% bs_icon 'box' %}
                <div class="card-body">
                    <h5 class="card-title primary-color">FuB</h5>
                    <p class="card-text secondary-color">
                        TCC para curso técnico em informática, onde desenvolvi o backend e infra
                    </p>
                    <a href="{{ portfolio_url }}?projeto=fub" class="btn btn-dark">Saber Mais</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card text-center align-items-center justify-content-center">
                {% bs_icon 'layers' %}
                <div class="card-body">
                    <h5 class="card-title primary-color">DevOps Projects</h5>
                    <p class="card-text secondary-color">
                        Conjunto de projetos realizados sobre a área de
                        infraestrutura e DevOps
                    </p>
                    <a href="{{ portfolio_url }}?projeto=devops" class="btn btn-dark">Saber Mais</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card text-center align-items-center justify-content-center">
                {% bs_icon 'lightning-charge' %}
                <div class="card-body">
                    <h5 class="card-title primary-color">Blog</h5>
                    <p class="card-text secondary-color">
                        Este site que no momento você está vendo, junto com
                        meu blog
                    </p>
                    <a href="{{ portfolio_url }}?projeto=blog" class="btn btn-dark">Saber Mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
