{% load bootstrap_icons %}

<div class="container" id="slider-container">
    <div class="carousel slide" id="slider" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button
                    type="button"
                    class="active"
                    data-bs-target="#slider"
                    data-bs-slide-to="0"
                    aria-current="true"
                    aria-label="Slide 1"
            ></button>
            <button
                    type="button"
                    data-bs-target="#slider"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
            ></button>
            <button
                    type="button"
                    data-bs-target="#slider"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
            ></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://avatars.githubusercontent.com/u/81092363?v=4"
                     alt="FuB (Fazendo um Bico)"
                     class="d-block w-100"
                >
                <div class="carousel-caption">
                    <h5>FuB</h5>
                    <a href="{% url 'portfolio' %}" class="btn btn-dark">Ver Projetos</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://avatars.githubusercontent.com/u/81092363?v=4"
                     alt="DevOps Projects"
                     class="d-block w-100"
                >
                <div class="carousel-caption">
                    <h5>DevOps Projects</h5>
                    <a href="{% url 'portfolio' %}" class="btn btn-dark">Ver Projetos</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://avatars.githubusercontent.com/u/81092363?v=4"
                     alt="Blog"
                     class="d-block w-100"
                >
                <div class="carousel-caption">
                    <h5>Blog</h5>
                    <a href="{% url 'portfolio' %}" class="btn btn-dark">Ver Projetos</a>
                </div>
            </div>
        </div>
        <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#slider"
                data-bs-slide="prev">
            {% bs_icon 'chevron-compact-left' size='3em' color='#111' %}
            <span class="visually-hidden">Slide Anterior</span>
        </button>
        <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#slider"
                data-bs-slide="next">
            {% bs_icon 'chevron-compact-right' size='3em' color='#111' %}
            <span class="visually-hidden">Próximo Slide</span>
        </button>
    </div>
</div>
